@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply flex flex-col items-center p-3 mx-5 my-10 text-center border border-gray-300 rounded-md;
}

@responsive {
    .vh-10 {
        height: 10vh;
    }
    
    .vh-25 {
        height: 25vh;    
    }
    .vh-50 {
        height: 50vh;    
    }
    .vh-75 {
        height: 75vh;      
    }
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: auto auto;
    border-top: 20px solid #ffe46d;
  }

  .black-logo {
      color: #3c3c3b;
  }

  .bg-black-logo {
    --bg-opacity: 1;
    /* background-color: #3c3c3b; */
    background-color: #ffe46d;
}

  .lime-logo {
      color: #c2d66a;
  }

  .bg-lime-logo {
    --bg-opacity: 1;
    background-color: #c2d66a;
}

.bg-yellow-scheme {    
    --bg-opacity: 0.5;
    /* background-color: #3c3c3b; */
    background-color: #ffca3a;
}

/* .snipcart-modal {
    background-color: white;
} */

.snipcart-overwrite #snipcart-header #snipcart-total {
    background-color: transparent;
    color: #333;
    border: none;
    opacity: 0.5;
}